* {
    margin: 0;
}

#allResults, #selectWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10vw;
    gap: 1vw;
}

#clubsAndMembers {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 5px;
    border: solid 1px var(--accentColor);
    font-weight: bold;
    margin-bottom: 10px;
}

#commentsCityWrapper, #commentsProgramWrapper {
    font-size: 13px;
    overflow-y: scroll;
    scrollbar-width: thin; 
    height: 20vh;
    padding: 0 10px;
}

#commentsProgramWrapper {height: 30vh;}

#commentsCityWrapper > div, #commentsProgramWrapper > div {
    border: solid 1px var(--mainColor);
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#countryInfoBox {
    padding: 10px;
    border: solid 2px var(--mainColor)
}

.countryWrapper, .cityWrapper, .universityWrapper, .programWrapper {
    height: 100vh;
    border: solid 3px var(--accentColor);
    background-color: white;
    border-radius: 5px;
}

.countryLanguageWrapper > div{
    background-color: var(--mainColor);
    padding: 16px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: var(--breadFontSz);
}

.description {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--breadFontSz);
    height: 20vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.entryAndSucessWrapper {
    padding: 10px 10px;
    height: 15vh;
    border-radius: 5px;
    background-color: var(--mainColor);
    font-size: var(--breadFontSz);

    display: grid;
    grid-template-columns: 7vw 11vw;
    /*grid-template-rows: repeat(3, 1fr);*/
    margin-bottom: 10px;
    font-size: 9px;
}

#entryGradesContent {grid-area: 3/2/4/3;}
#sucessRateContent {grid-area: 2/2/3/3;}
#programYearContent {grid-area: 1/2/1/3;}

#programYear {
    grid-area: 1/1/2/2;
}

#sucessRate {
    grid-area: 2/1/3/2;
}

#entryGrades {
    grid-area: 3/1/4/2;
}

.flag {
    width: 37%;
}

img {
    width: 100%;
}

#info {
    margin: 10px;
}

.name {
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nameAndMembers {
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
    padding: 16px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: var(--breadFontSz);
}

option {
    font-family: var(--eFont);
}

.programLanguageWrapper, .programInfoBox > div {
    background-color: var(--mainColor);
    padding: 16px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: var(--breadFontSz);
}

.reviewName {
    font-weight: bold;
}

.reviewTitle {
    background-color: var(--mainColor);
    padding: 16px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: var(--breadFontSz);
}

.reviewTop {
    display: flex;
    justify-content: space-between;
}

#selectWrapper > select {
    height: 5vh;
    font-family: var(--eFont);
    border: solid 2px var(--mainColor);
}

