
#allResults, #selectWrapper {
    display: flex;
}

#selectWrapper > select {
    width: 100vw;
    font-family: var(--eFont);
}

option {
    font-family: var(--eFont);
}

.countryWrapper, .cityWrapper, .universityWrapper, .programWrapper {
    width: 24vw;
    height: 100vh;
    border: solid 3px var(--accentColor);
}

img {
    width: 100%;
}

.flag {
    width: 4vw;
}

#commentsCityWrapper, #commentsProgramWrapper {
    font-size: 13px;
    overflow-y: scroll;
    height: 20vh;
}