#allResults, #selectWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 2vw;
    gap: 1vw;
}

#commentsCityWrapper, #commentsProgramWrapper {
    font-size: 13px;
    overflow-y: scroll;
    scrollbar-width: thin; 
    height: 20vh;
    border: 2px solid black;
}

#countryInfoBox {
    background-color: var(--mainColor);
    height: 20%;
    margin-top: 50px;
}

.countryWrapper, .cityWrapper, .universityWrapper, .programWrapper {
    height: 100vh;
    border: solid 3px var(--accentColor);
    background-color: white;
}

.flag {
    width: 4vw;
}

img {
    width: 100%;
}

#info {
    margin: 10px;
}

#name {
    height: 10%;
    padding: 3%;
    border-bottom: 3px solid var(--accentColor);
}

option {
    font-family: var(--eFont);
}

#selectWrapper > select {
    height: 5vh;
    font-family: var(--eFont);
}


