:root {
    --mainColor: #9688E5;
    --accentColor: #ebe9f9;
    --hoverColor: #b1a5f5;

    --titleFont:'Monoton', cursive;
    --hFont: 'Paytone One', sans-serif;
    --eFont:'Poppins', sans-serif;
    --pFont: 'Open Sans', sans-serif;

    --titelFontSz: 3vw;
    --secondFontSz: 4vw;
    --breadFontSz: 80%;

}

.advertisement {
    margin: 104px 0px;
}

.advertisementInUniversity {
    margin: 10px 0px;
}

body {
    margin: 0;
}

.categoryBox {
    display: flex;
}

.categoryBox > input {
    margin-right: 7px;
}

.categories {
    height: 50px;
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.checkbox {
    display: flex;
}

.checkboxes {
    margin-left: 10px;
}

.checkbox > label {
    font-size: 12px;
    margin-left: 3px;
}


.countryFlag {
    width: 5vw;
}

#country {
    margin-right: 15px;
}

#FlagAndCountry {
    display: flex;
    align-items: center;
}

.FooterContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

footer {
    background-color: var(--mainColor);
    padding-top: 20px;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    font-family: var(--eFont);
}

footer > h3 {
    align-self: center;
}

.footerSocialMediaLinks {
    width: 50px;
}

.FooterContents > div:first-child {
    border: solid 2px var(--accentColor);
    border-radius: 5px;
    padding: 7px;
}

header {
    background-color: var(--mainColor);
    height: 30vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    margin: 0;
    font-size: 80px;
    color: white;
    font-family: var(--titleFont)
}

.heropic {
    width: 50vw;
    background-image: url("heropic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#HittaProgram, #HittaUtbildning {
    font-family: var(--pFont);
    background-color: var(--accentColor);

    padding-top: 20px;
    padding-bottom: 100px;
    
}

#HittaProgram {margin-top: 150px;}

#HittaProgram > p {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#HittaProgram > h2, #HittaUtbildning > h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--eFont); 
    font-weight: bold;
    font-size: 38px;
    color: black;
    background-color: var(--accentColor);
    margin: 20px 0px;
}

.infobox {
    width: 50vw;
    background-color: var(--accentColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infobox > h2 {
    font-family: var(--eFont); 
    font-size: 4vmin;
    margin-top: 20px;
}

.infoProgramArray {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    font-size: var(--breadFontSz);
}

input:focus {
    background-color: black;
}

input:after {
    content: "";
    display: none;
    position: absolute;
}

.infobox > p {
    padding: 20px;
    line-height: 4vmin;
    font-family: var(--pFont);
    font-size: var(--breadFontSz);
}

#levelsDiv {
    margin: 0 10vw;
    height: 9vh;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    font-family: var(--eFont);
}

.mapsLogo {
    width: 9%;
}

header > .mapsLogo {
    position: absolute;
    left: 2vw;
}

nav {
    background-color: var(--mainColor);
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    font-family: var(--eFont);
    font-weight: bold;
    color: white;
    padding: 1vw;
    margin: 10px;
    background-color: #ffffff78;
    border-radius: 5px; 

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a:last-child {
    margin-right: 2vw;
}
nav > a:hover {
    background-color: var(--hoverColor);
}

.name > p {
    font-size: 11px;
}

#OmUtbytesstudier {
    height: 60vh;
    display: flex;
}

.programbox {
    height: 0vh;
    margin: 0 10vw;
    scrollbar-width: thin;
}
.programbox > div:last-child {
    margin-bottom: 0;
}

.programContent {
    height: 20px;
}

.programmeContentDiv {
    border: 3px solid var(--mainColor);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
} 

#programmeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#programmeName {
    width: auto;
    font-weight: bold;
}

#programmeInfo > div:first-child {
    flex-basis: 50vw;
}

.rating {
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.ratingFigures {
    font-size: 11px;
}

.ratingFigures > span {
    font-weight: bold;
}

.selectBox {
    background-color: black;
    width: 10px;
    height: 10px;
}

.socialMediaWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    margin: auto;
    padding-top: 20px;
}

.scroll {
    overflow-y: scroll;
}

