:root {
    --mainColor: #6D6CFF;
    --accentColor: #CDEF36; 
    --hFont: 'Paytone One', sans-serif;
    --eFont: 'Jost', sans-serif;
    --pFont: 'Open Sans', sans-serif;

    --titelFontSz: 3vw;
    --secondFontSz: 2vw;
    --breadFontSz: 1vw;

}

body {
    margin: 0;
}

.categoryBox {
    display: flex;
}

.categories {
    background-color: var(--mainColor);
    height: 50px;
    margin: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.countryFlag {
    width: 5vw;
}

.checkbox {
    width: 20px;
    background-color: black;
}

.FooterContents {
    display: flex;
}

footer {
    background-color: var(--mainColor);
    height: 30vh;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    font-family: var(--eFont);
}

header {
    background-color: var(--mainColor);
    height: 20vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    margin: 0;
    font-size: 80px;
    color: white;
    font-family: var(--hFont)
}

.heropic {
    width: 50vw;
    border: solid var(--accentColor) 5px;
    background-image: url("heropic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#HittaProgram, #HittaUtbildning {
    font-family: var(--eFont);
    background-color: var(--mainColor);
    border-bottom: 5px solid var(--accentColor);
    border-top: 5px solid var(--accentColor);

    margin-top: 100px;
    padding-top: 20px;

}

#HittaProgram > h2, #HittaUtbildning > h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--eFont); 
    font-weight: bold;
    font-size: var(--titelFontSz);
    color: white;
}

.infobox {
    width: 50vw;
    border: solid var(--accentColor) 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infobox > h2 {font-family: var(--eFont); font-size: var(--secondFontSz);}

input:focus {
    background-color: black;
}

input:after {
    content: "";
    display: none;
    position: absolute;
}

.infobox > p {
    padding: 20px;
    line-height: 3vh;
    font-family: var(--pFont);
}

#levelsDiv {
    margin: 0 2vw;
    height: 9vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--eFont);
}

nav {
    background-color: var(--mainColor);
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    font-family: var(--eFont);
    font-weight: bold;
    color: white;
    padding: 15px;
    margin: 10px;
    background-color: #ffffff78;
    border-radius: 5px;  
}

#OmUtbytesstudier {
    height: 60vh;
    display: flex;
}

.selectBox {
    background-color: black;
    width: 10px;
    height: 10px;
}

.socialMediaWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programbox {
    background-color: var(--mainColor);
    height: 50vh;
    margin: 0 2vw;
    overflow-y: scroll;
    scrollbar-width: thin; 
    
}
.programbox > div:last-child {
    margin-bottom: 0;
}

/* button {
    
    border: none;
    margin-right: 5px;
    border-radius: 2px;
    transition-duration: 0.4s;
    
}

button:focus {
    background-color: black;
    hej
} */


.programContent {
    background-color: blueviolet;
    height: 20px;
}

.programmeContentDiv {
    border: 3px solid var(--accentColor);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
} 

#programmeInfo {
    display: flex;
    justify-content: space-between;
}

#programmeName {
    width: auto;
    padding-bottom: 5px;
    font-weight: bold;
}

#programmeInfo > div {
    width: 40%;
}
