:root {
    --mainColor: #9688E5;
    --accentColor: #ebe9f9;
    --detailColor: #7fff0094;

    --titleFont:'Monoton', cursive;
    --hFont: 'Paytone One', sans-serif;
    --eFont:'Poppins', sans-serif;
    --pFont: 'Open Sans', sans-serif;

    --testFont: 'Jost', sans-serif ; 

    --titelFontSz: 3vw;
    --secondFontSz: 4vw;
    --breadFontSz: 85%;

}

.advertisement {
    margin: 100px 0px;
}

.advertisementInUniversity {
    margin: 10px 0px;
}

body {
    margin: 0;
}

.categoryBox {
    display: flex;
}

.categoryBox > input {
    margin-right: 7px;
}

.categories {
    /*background-color: var(--mainColor);*/
    height: 50px;
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.countryFlag {
    width: 5vw;
}

#country {
    margin-right: 15px;
}

.checkbox {
    width: 20px;
}

#FlagAndCountry {
    display: flex;
    align-items: center;
}

.FooterContents {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

footer {
    background-color: var(--mainColor);
    
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    font-family: var(--eFont);
}

footer > h3 {
    margin-left: auto;
    margin-right: auto;
}

.footerSocialMediaLinks {
    width: 50px;
}

header {
    background-color: var(--mainColor);
    height: 20vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    margin: 0;
    font-size: 80px;
    color: white;
    font-family: var(--titleFont)
}

.heropic {
    width: 50vw;
    background-image: url("heropic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#HittaProgram, #HittaUtbildning {
    font-family: var(--pFont);
    background-color: var(--accentColor);
    /*border-bottom: 5px solid var(--accentColor);
    border-top: 5px solid var(--accentColor); */

    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 100px;
    
}
#HittaProgram > p {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#HittaUtbildning {padding-bottom: 100px;}

#HittaProgram > h2, #HittaUtbildning > h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--eFont); 
    font-weight: bold;
    font-size: 38px;
    color: black;
    background-color: var(--accentColor);
    margin: 20px 0px;
}

.infobox {
    width: 50vw;
    background-color: var(--accentColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infobox > h2 {
    font-family: var(--eFont); 
    font-size: 4vmin;
    margin-top: 20px;
}

input:focus {
    background-color: black;
}

input:after {
    content: "";
    display: none;
    position: absolute;
}

.infobox > p {
    padding: 20px;
    line-height: 3vh;
    font-family: var(--pFont);
    font-size: 2vmin;
}

#levelsDiv {
    margin: 0 10vw;
    height: 9vh;
    /*display: flex;
    justify-content: flex-end;
    align-items: center; */
    font-family: var(--eFont);
}

.mapsLogo {
    width: 6%;
}

nav {
    background-color: var(--mainColor);
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    font-family: var(--eFont);
    font-weight: bold;
    color: white;
    padding: 1vw;
    margin: 10px;
    background-color: #ffffff78;
    border-radius: 5px; 

    display: flex;
    justify-content: center;
    align-items: center;

}

.name > p {
    font-size: 11px;
}

#OmUtbytesstudier {
    height: 60vh;
    display: flex;
}

.selectBox {
    background-color: black;
    width: 10px;
    height: 10px;
}

.socialMediaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMediaWrapper  img {
    width: 50px;
}

.programbox {
    height: 50vh;
    margin: 0 10vw;
    scrollbar-width: thin; 
    
}
.programbox > div:last-child {
    margin-bottom: 0;
}


/* button {
    
    border: none;
    margin-right: 5px;
    border-radius: 2px;
    transition-duration: 0.4s;
    
}

button:focus {
    background-color: black;
    hej
} */


.programContent {
    /*background-color: blueviolet;*/
    height: 20px;
}

.programmeContentDiv {
    border: 3px solid var(--mainColor);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
} 

#programmeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#programmeName {
    width: auto;
    font-weight: bold;
}

#programmeInfo > div:first-child {
    flex-basis: 50vw;
}

.scroll {
    overflow-y: scroll;
}

